@import url(https://fonts.googleapis.com/css?family=Lato:400,300,100);
body {
  font-family: "Lato";
  background: #312658;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

html, body {
  margin: 0;
  padding: 0;
}

#particles-js, #parallax, .layer, .some-space, .some-more-space {
  height: 100%;
  position: absolute;
  width: 100%;
}

// .some-more-space {
//   top: 25%;
//   left: 25%;
//   width: 50%;
//   height: 50%;
// }


svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border: 0;
  height: 100%;
}

#secondary g {
  opacity: 0.6;
  cursor: pointer;
}

#tertiary g {
  opacity: 0.4;
  filter: blur(4px);
}
#particles-js {
  opacity: 0.6;
}

h1 {
  color: white;
  font-size: 5em;
  font-weight: 100;
  letter-spacing: 0.2em;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
          transform: translate3d(-50%, -50%, 0);
}

button {
  color: white;
  border: 1px solid white;
  display: table;
  position: absolute;
  top: 60%;
  left: 50%;
  letter-spacing: 0.05em;
  -webkit-transform: translate3d(-50%, -50%, 0);
          transform: translate3d(-50%, -50%, 0);
  text-decoration: none;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  padding: 10px 15px;
  appearance: none;
  background-color: transparent;
}

.button-1 {
  top: 0;
  left: 50%;
}

.button-2 {
  top: 100%;
  right:0;
  left: auto;
}

.button-3 {
  top: 100%;
  left:0;
}

button:hover {
  background: white;
  color: black;
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotateZ(0deg) translate3d(0, 1.5%, 0) rotateZ(0deg);
            transform: rotateZ(0deg) translate3d(0, 1.5%, 0) rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateZ(360deg) translate3d(0, 1.5%, 0) rotateZ(-360deg);
            transform: rotateZ(360deg) translate3d(0, 1.5%, 0) rotateZ(-360deg);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: rotateZ(0deg) translate3d(0, 1.5%, 0) rotateZ(0deg);
            transform: rotateZ(0deg) translate3d(0, 1.5%, 0) rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateZ(360deg) translate3d(0, 1.5%, 0) rotateZ(-360deg);
            transform: rotateZ(360deg) translate3d(0, 1.5%, 0) rotateZ(-360deg);
  }
}

svg g {
  transition: opacity 0.5s;
}

#secondary g:hover {
  opacity: 1!important;
}

#secondary g {
  position: relative;
  display: block;
  pointer-events: bounding-box;

}




.recognition-active #tertiary g,
.resilience-active #tertiary g,
.reputation-active #tertiary g{
  opacity: 0.2
}

.recognition-active #primary,
.resilience-active #primary,
.reputation-active #primary{
  opacity: 0.2
}

.recognition-active #tertiary g:nth-child(odd){
  opacity: 0.9
}

.resilience-active #tertiary g:nth-child(even){
  opacity: 0.9
}


.reputation-active #tertiary g:nth-child(even){
  opacity: 0.9
}